[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/jonnyblair14/kickstart.nvim
[submodule "tmux/.tmux/plugins/catppuccin-tmux"]
	path = tmux/.tmux/plugins/catppuccin-tmux
	url = https://github.com/dreamsofcode-io/catppuccin-tmux
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
